.search-input {
	position: relative;

	input {
		padding: .5rem 2.3rem .5rem .5rem;
	}

	.search-icon {
		position: absolute;
		right: 0;
		top: 0;
		height: 39px;
		width: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.login-box,
.registration-box {
	background: $white-600;
	padding: 20px 20px 40px 20px;
	margin-top: 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

	input {
		font-size: 1.2rem;

		&[type='password'] {
			font-weight: bold;
		}
	}

	button {
		margin: 15px 0 15px 0 !important;
		width: 100%;
	}
}
