.side-nav {
	position: fixed;
	display: flex;
	align-items: center;
	height: 100%;
	z-index: 80;
	width: 55px;
	float: left;
	margin-left: -50px;
	top: 80px;
	bottom: 0;
	left: 0;
	transition: all 250ms;

	.nav-controls {
		display: none;
		transition: all 250ms;
		background: $black;
		height: 330px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $white;
		font-size: 0.9rem;
		width: 50px;
		float: left;
		padding: 20px 0;
		bottom: auto;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-right: 1px solid rgba(16, 16, 13, 0.47);
		box-shadow: $standard-shadow;

		a {
			color: $white;
			text-decoration: none;
			text-shadow: none;

			&:hover {
				color: $white;
				text-shadow: $text-shadow;
			}
		}

		.fa {
			font-size: 1.5rem;
			transition: all 250ms;

			&.active,
			&:hover {
				font-weight: bolder;
				transform: scale(1.2);
			}

			&:active {
				font-weight: normal;
				font-size: 1.95rem;
			}
		}
	}

	&.active,
	&:hover {
		margin-left: 0;
		cursor: pointer;

		.nav-controls {
			display: flex;
		}
	}

	.row {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
	}
}
@media screen and (max-width: 500px) {
	.side-nav {
		display: none;
	}
}
@media screen and (max-height: 500px) {
	.side-nav {
		display: none;
	}
}
