.side-bar {
	float: right !important;

	.lead {
		width: 100%;
	}

	.contact-list {
		width: 100%;
		margin-bottom: 5px;

		.lead {
			margin: 0;
		}

		h5 {
			a {
				font-size: 1rem;
			}
		}
	}

	.animation-wrapper {
		display: flex;
		flex-wrap: wrap;
		float: left;
		width: 100%;

		.social-button {
			flex: 1;
			min-width: 33.3333%;
			width: 33.3333&;
		    height: 62px;
		    padding: 10px 0;
		    font-style: normal;
		    transition: all 500ms;

		    h6 {
		        font-weight: bold;
		    }

		    &:active {
		        border-radius: 10px;
		    }

		    &:hover {
		        background: $black;
		        color: white;
		        cursor: pointer;

		        p, h6 {
		            display: none;
		        }

		        i {
		            font-style: normal;
		        }

		        // .twitter:before {
		        //     content: '\f099';
		        //     font-family: FontAwesome;
		        //     font-size: 2em;
		        // }
		        // .facebook:before {
		        //     content: '\f09a';
		        //     font-family: FontAwesome;
		        //     font-size: 2em;
		        // }
		        // .instagram:before {
		        //     content: '\f16d';
		        //     font-family: FontAwesome;
		        //     font-size: 2em;
		        // }
		    }
		}

		.social-button-alt {
			flex: 1;
			min-width: 33.3333%;
			width: 33.3333&;
		    height: 62px;
		    padding: 10px 0;
		    color: $black;
		    cursor: pointer;
		    font-style: normal;
		    text-decoration: none;
		    transition: all 500ms;

			&.disabled {
				cursor: not-allowed;
			}

		    h6 {
		        font-weight: bold;
		    }

		    p, h6 {
		        display: none;
		    }

		    i {
		        font-style: normal;
		    }

		    &:active {
		        border-radius: 10px;
		    }

		    .twitter:before {
		        content: '\f099';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .facebook:before {
		        content: '\f09a';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .instagram:before {
		        content: '\f16d';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .tumblr:before {
		        content: '\f173';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .home:before {
		        content: '\f015';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .vimeo:before {
		        content: '\f27d';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .soundcloud:before {
		        content: '\f1be';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .youtube:before {
		        content: '\f167';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }
		    .spotify:before {
		        content: '\f1bc';
		        font-family: FontAwesome;
		        font-size: 2em;
		    }

		    &:hover {
		        background: $black;
		        color: white;

		    }
		}
	}


	.contact {
	    a {
	        text-decoration: none;
	    }
	}

	.media-object {
		display: flex;

		.media-object-section {

			&:first-child {
				flex: 1;
				min-width: 40%;
				max-width: 40%;

				img {
					width: 100%;
				}
			}

			&:last-child {
				flex-grow: 1;
			}

			h5 {
				font-size: 1.24rem;
			}

			@include breakpoint (medium down) {
				h5 {
					font-size: 1rem;
				}
				img {
					max-width: 100px;
				}
			}

			@include breakpoint (small only) {
				text-align: center;
				&:first-child {
					min-width: initial;
					max-width: initial;

					img {
						max-width: initial;
						min-width: 100px;
					}
				}

				&:last-child {
					flex-grow: initial;
				}

				h5 {
					font-size: 1.2rem;
				}
			}
		}
	}
}
