@charset 'UTF-8';
/*
Optional styling for bbplayer elements.
*/
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
.scroll-nav {
    .bbplayer {
        font-size: 1.2em;
        float: right;
        display: flex;
        align-items: center;
        color: black;
        background: transparent;
        max-height: 32px;
    }
    .bb-play {
        color: black;
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        cursor: pointer;
        &::before {
            font-family: fontAwesome;
            font-size: 1.5rem;
            position: relative;
            left: -7px;
            content: '\f04b';
        }
    }
    .bb-playing {
        color: black;
        vertical-align: middle;
        &::before {
            font-family: fontAwesome;
            font-size: 1.5rem;
            position: relative;
            left: -7px;
            content: '\f04c';
        }
    }
    .bb-forward {
        color: black;
        vertical-align: middle;
        display: inline-block;
        height: 32px;
        width: 32px;
        cursor: pointer;
        &::before {
            font-family: fontAwesome;
            font-size: 1.5rem;
            position: relative;
            left: -7px;
            content: '\f04e';
        }
    }
    .bb-rewind {
        color: black;
        vertical-align: middle;
        display: inline-block;
        height: 32px;
        width: 32px;
        cursor: pointer;
        &::before {
            font-family: fontAwesome;
            font-size: 1.5rem;
            position: relative;
            left: -7px;
            content: '\f04a';
        }
    }
    .bb-trackTime {
        font-size: 14px;
        padding: 0 5px;
        overflow: hidden;
        white-space: nowrap;
        min-width: 52px;
        text-align: left;
    }
    .bb-trackLength {
        font-size: 14px;
        padding: 0 11px;
        overflow: hidden;
        white-space: nowrap;
        min-width: 42px;
        text-align: left;
    }
    .bb-trackTitle {
        font-weight: bold;
        overflow: hidden;
        text-align: center;
        max-height: 32px;
        white-space: nowrap;
    }
    .bb-artist {
        font-size: 14px;
    }
    .bb-album {
        font-size: 14px;
    }
    .bb-albumCover {
        height: 38px;
        width: 38px;
        line-height: 38px;
        vertical-align: top;
        background: #999999;
        border: 1px solid #666666;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        margin-left: 5px;
        display: inline-block;
    }
    .bb-debug {
        height: 10em;
        width: 19em;
        border: 1px solid #DDD;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        overflow: auto;
        font-weight: normal;
        font-size: 14px/1.5;
    }
    .bbplayer div.playerWindow {
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #CFCFCF;
        padding: 5px;
        box-shadow: inset 0 0 15px rgba(100,100,100,0.1);
        background: #EFEFEF;
    }

    &.scrolled {
        .bbplayer {
            float: right;
            display: flex;
            align-items: center;
            color: #BDBDBD;
            background: black;
            max-height: 32px;
        }
        .bb-play {
            color: white;
            display: inline-block;
            vertical-align: middle;
            height: 32px;
            width: 32px;
            cursor: pointer;
            &::before {
                font-family: fontAwesome;
                font-size: 1.5rem;
                position: relative;
                left: -7px;
                content: '\f04b';
            }
        }
        .bb-playing {
            color: white;
            vertical-align: middle;
            &::before {
                font-family: fontAwesome;
                font-size: 1.5rem;
                position: relative;
                left: -7px;
                content: '\f04c';
            }
        }
        .bb-forward {
            color: white;
            vertical-align: middle;
            display: inline-block;
            height: 32px;
            width: 32px;
            cursor: pointer;
            &::before {
                font-family: fontAwesome;
                font-size: 1.5rem;
                position: relative;
                left: -7px;
                content: '\f04e';
            }
        }
        .bb-rewind {
            color: white;
            vertical-align: middle;
            display: inline-block;
            height: 32px;
            width: 32px;
            cursor: pointer;
            &::before {
                font-family: fontAwesome;
                font-size: 1.5rem;
                position: relative;
                left: -7px;
                content: '\f04a';
            }
        }
        .bb-trackTime {
            font-size: 14px;
            padding: 0 5px;
            overflow: hidden;
            white-space: nowrap;
            min-width: 50px;
            text-align: left;
        }
        .bb-trackLength {
            font-size: 14px;
            padding: 0 11px;
            overflow: hidden;
            white-space: nowrap;
            min-width: 42px;
            text-align: left;
        }
        .bb-trackTitle {
            font-weight: bold;
            overflow: hidden;
            text-align: center;
            max-height: 32px;
            white-space: nowrap;
        }
        .bb-artist {
            font-size: 14px;
        }
        .bb-album {
            font-size: 14px;
        }
        .bb-albumCover {
            height: 38px;
            width: 38px;
            line-height: 38px;
            vertical-align: top;
            background: #999999;
            border: 1px solid #666666;
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
            margin-left: 5px;
            display: inline-block;
        }
        .bb-debug {
            height: 10em;
            width: 19em;
            border: 1px solid #DDD;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            overflow: auto;
            font-weight: normal;
            font-size: 14px/1.5;
        }
        .bbplayer div.playerWindow {
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #CFCFCF;
            padding: 5px;
            box-shadow: inset 0 0 15px rgba(100,100,100,0.1);
            background: #EFEFEF;
        }
    }
}


@media screen and (max-width: 700px) {
    .bb-trackTime, .bb-trackLength, .bb-trackTitle {
        display: none;
    }
}
