
.button-group {
    padding: 0 .9rem 0 0;
}

.itunes-btn, .spotify-btn {
    background: white;
    color: black;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 5px;
    margin: .7rem 0;
    transition: 400ms all;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);

    &:hover, &:active, &:focus {
        cursor: pointer;
        background: black;
        color: white;
    }

    &:active {
        box-shadow: none;
    }

    .fa {
        font-size: 1rem;
        margin-right: .2rem;
    }
}
