// Scrollable Navigation

.scroll-nav {
    color: black;
    height: 62px;
    transition: all 250ms ease;

    .bottom {
        height: 100%;
        align-items: center;
        display: flex;
        border-bottom: 2px solid rgba(16, 16, 13, 0.47);
        box-shadow: 0 1px 0px 0px rgba(145, 136, 98, 0.6);
        margin-left: 0.9375rem;
        transition: all 250ms ease;

        .section-1 {

            .home-text {
                font-size: 1.74rem;
                white-space: nowrap;
            }

            &.home-link {
                align-items: center;
                display: flex;

                .mini-logo {
                        height: 40px;
                        width: 40px;
                        float: left;
                        margin-right: 5px;
                        background-size: cover;

                    img {
                        visibility: hidden;
                    }

                }
            }

        }

        .section-2 {
            text-align: right;
        }
    }

    .mini-logo {
        height: 40px;
        width: 40px;
    }

    &.scrolled {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 58px;
        color: white;
        position: fixed;
        background: black;
        box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.5);
        border-bottom: 2px solid rgba(16, 16, 13, 0.47);

        .bottom {
            border-bottom: none;
            box-shadow: none;
        }

        .mini-logo {
            display: block;
        }
    }
}

@media screen and (max-width: 1024px) {
    .scroll-nav {

        .bottom {
            margin: 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .scroll-nav {

        .bottom {

            .section-1 {

                &.home-link {
                    align-items: center;
                    display: flex;
                }

            }
        }
    }
}

@media screen and (max-width: 500px) {
    .scroll-nav {

        .bottom {

            .section-1 {

                .home-text {
                    display: none;
                }
            }
        }
    }
}
