.social-button {
    height: 62px;
    padding: 10px 0;
    font-style: normal;
    transition: all 500ms;

    h6 {
        font-weight: bold;
    }

    &:active {
        border-radius: 10px;
    }

    &:hover {
        background: black;
        color: white;
        cursor: pointer;

        p, h6 {
            display: none;
        }

        i {
            font-style: normal;
        }

        // .twitter:before {
        //     content: '\f099';
        //     font-family: FontAwesome;
        //     font-size: 2em;
        // }
        // .facebook:before {
        //     content: '\f09a';
        //     font-family: FontAwesome;
        //     font-size: 2em;
        // }
        // .instagram:before {
        //     content: '\f16d';
        //     font-family: FontAwesome;
        //     font-size: 2em;
        // }
    }
}

.social-button-alt {
    height: 62px;
    padding: 10px 0;
    color: black;
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
    transition: all 500ms;

    h6 {
        font-weight: bold;
    }

    p, h6 {
        display: none;
    }

    i {
        font-style: normal;
    }

    &:active {
        border-radius: 10px;
    }

    .twitter:before {
        content: '\f099';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .facebook:before {
        content: '\f09a';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .instagram:before {
        content: '\f16d';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .tumblr:before {
        content: '\f173';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .home:before {
        content: '\f015';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .vimeo:before {
        content: '\f27d';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .soundcloud:before {
        content: '\f1be';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .youtube:before {
        content: '\f167';
        font-family: FontAwesome;
        font-size: 2em;
    }
    .spotify:before {
        content: '\f1bc';
        font-family: FontAwesome;
        font-size: 2em;
    }

    &:hover {
        background: black;
        color: white;

    }
}

.contact {
    a {
        text-decoration: none;
    }
}
