.tabs-container {
	margin: 0 0 15px;

	&:last-child {
		margin: 0;
	}

	.tabs {
		display: flex;
		flex-direction: row;
		background: transparent;
		border: none;
		border-bottom: 2px solid #e7eaec;

		.tab {
			position: relative;
			display: flex;
			align-items: stretch;
			background: #fff;
			flex: 1;
			padding: 15px;
			font-size: 24px;
			border: 1px solid #e6e6e6;
			border-bottom: 2px solid #e7eaec;
			border-radius: 5px 5px 0 0;
			overflow: hidden;
			line-height: 1;
			margin: 0 10px;
			text-align: center;
			margin-bottom: -2px;
			cursor: pointer;
			transition: all 0.5s;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 3px;
				content: '';
				background: transparent;
				transition: all 0.5s;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				background: #fff
			}

			&.edited-valid {
				&:before {
					background: $warning;
				}

				&.selected {
					&:before {
						background: $success;
					}
				}
			}

			&.edited-invalid {
				&:before {
					background: $alert;
				}

				&.selected {
					&:before {
						background: $warning;
					}
				}
			}

			&.selected {
				border-bottom-color: #fff;
				box-shadow: none;
			}

			&[disabled] {
				opacity: 0.5;
			}

			.tab-content {
				width: 100%;
				text-align: center;
			}

			.fa {
				margin-right: 5px;
			}
		}
	}

	.tabs-content {
		background: #fff;
		border: 1px solid #e6e6e6;
		border-top: none;
		padding: 25px;
		border-radius: 0 0 5px 5px;
	}
}

.list-browse-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin: 0 0 15px;

	&:last-child {
		margin: 0;
	}

	.list-browse {
		width: 25%;
		min-width: 200px;
		max-width: 350px;
		background: darken(#fff, 1%);
		border-right: 3px solid #e6e6e6;

		.browse-item {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			background: #ececec;
			border: none;
			border-bottom: 1px solid #e6e6e6;
			border-right: 3px solid #e6e6e6;
			text-align: center;
			transition: all 0.5s;
			margin-right: -3px;
			padding: 15px;
			cursor: pointer;

			.fa {
				display: inline-block;
			}

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 3px;
				content: '';
				background: transparent;
				transition: all 0.5s;
			}

			&:first-child {
				border-top-left-radius: 5px;
				margin-left: 0;
			}

			&:last-child {
				border-bottom: 0;
				border-bottom-left-radius: 5px;
			}

			&:hover {
				background: #fff
			}

			&.edited-valid {
				&:before {
					background: $warning;
				}

				&.selected {
					&:before {
						background: $success;
					}
				}
			}

			&.edited-invalid {
				&:before {
					background: $alert;
				}

				&.selected {
					&:before {
						background: $warning;
					}
				}
			}

			&.selected {
				background: #fff;
				border-right-color: transparent;
			}

			&[disabled] {
				opacity: 0.5;
			}

			.tab-content {
				width: 100%;
				text-align: center;
			}

			.fa {
				margin-right: 5px;
			}
		}
	}

	.list-browse-content {
		flex: 2;
		padding: 25px;

		.ibox-title {
			border-left: none;
		}
	}
}
