.loader-container {
	@include loader-blip;
}

@keyframes loader-blip {
	0% {
		width: 0;
		height: 0;
	}

	30% {
		width: nth($loader-size, 1);
		height: nth($loader-size, 2);
		border-width: nth($loader-size, 1) / 1.9;
		opacity: 1;
	}

	100% {
		width: nth($loader-size, 1);
		height: nth($loader-size, 2);
		border-width: 0;
		opacity: 0;
	}
}
