<div class="site">
    <div class="content-wrapper">
        <div class="row">
            <div class="small-12 medium-8 large-9 columns">

                <article>

                    <div class="disc-item" dir-paginate="disc in Disc.discography | itemsPerPage: 30">
                        <span class="catalogue-number">{{disc.catalogueNumber}} :</span>
                        <span class="release-date">{{disc.releaseDate}}</span>
                        <span class="disc-details"><h5><a ui-sref="singleDiscography({artistParam: disc.artist.param, discParam: disc.discParam})">{{disc.artist.name}} | <i>{{disc.albumTitle}}</i></a></h5></span>
                    </div>

                    <dir-pagination-controls boundary-links="true" on-page-change="Disc.scrollTop()"></dir-pagination-controls>

                    <div class="row">
                        <div class="large-12 columns">
                            <h5>All discography is listed from the founding of TM Records in Bloomington, IN starting November 2010.  For more information, read <a ui-sref="about">about the history of the label</a> and how we catalogue new music like no other label.</h5>
                        </div>
                    </div>

                </article>

            </div>

            <div side-bar></div>
        </div>

        <div footer></div>
        <div scroll-top></div>
    </div>
</div>
