<div class="site">
    <div class="content-wrapper">
        <div class="row">
            <div class="large-9 columns">

                <article>

                    <div class="row">
                        <div class="large-5 columns">
                            <p><img src="/images/artists/shorebilly/700-wipeout-cover.jpg" alt="image for article" alt="article preview image"></p>
                        </div>
                        <div class="large-7 columns">
                            <h5><a href="#">Shorebilly | <i>Wipeout!</i></a></h5>
                            <p>
                                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                <span><i class="fi-comments"> 6 comments</i></span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae,
                                ipsum delectus aperiam nesciunt magni facilis ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt
                                magni facilis ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                                impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam. Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam. </p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="large-5 columns">
                            <p><img src="/images/artists/shorebilly/700-wipeout-cover.jpg" alt="image for article" alt="article preview image"></p>
                        </div>
                        <div class="large-7 columns">
                            <h5><a href="#">NASA's SLS Rocket Sheds Saturn V Color Scheme in Design Review</a></h5>
                            <p>
                                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                <span><i class="fi-comments"> 6 comments</i></span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="large-5 columns">
                            <p><img src="/images/artists/shorebilly/700-wipeout-cover.jpg" alt="image for article" alt="article preview image"></p>
                        </div>
                        <div class="large-7 columns">
                            <h5><a href="#">Ingredients for Life Were Always Present on Earth, Comet Suggests</a></h5>
                            <p>
                                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                <span><i class="fi-comments"> 6 comments</i></span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="large-5 columns">
                            <p><img src="/images/artists/shorebilly/700-wipeout-cover.jpg" alt="image for article" alt="article preview image"></p>
                        </div>
                        <div class="large-7 columns">
                            <h5><a href="#">Astronaut's Watch Worn on the Moon Sells for Record $1.6 Million</a></h5>
                            <p>
                                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                <span><i class="fi-comments"> 6 comments</i></span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="large-5 columns">
                            <p><img src="/images/artists/shorebilly/700-wipeout-cover.jpg" alt="image for article" alt="article preview image"></p>
                        </div>
                        <div class="large-7 columns">
                            <h5><a href="#">Interstellar Dust on the Galaxy's Magnetic Field | Space Wallpaper</a></h5>
                            <p>
                                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                <span><i class="fi-comments"> 6 comments</i></span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="large-5 columns">
                            <p><img src="/images/artists/shorebilly/700-wipeout-cover.jpg" alt="image for article" alt="article preview image"></p>
                        </div>
                        <div class="large-7 columns">
                            <h5><a href="#">Explore the Moon (Virtually) with These Awesome Global Maps</a></h5>
                            <p>
                                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                <span><i class="fi-comments"> 6 comments</i></span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="large-5 columns">
                            <p><img src="/images/artists/shorebilly/700-wipeout-cover.jpg" alt="image for article" alt="article preview image"></p>
                        </div>
                        <div class="large-7 columns">
                            <h5><a href="#">Best Space Books and Sci-Fi: A Space.com Reading List</a></h5>
                            <p>
                                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                <span><i class="fi-comments"> 6 comments</i></span>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
                        </div>
                    </div>

                    <hr>

                    <ul class="pagination" role="navigation" aria-label="Pagination">
                        <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                        <li><a href="#" aria-label="Page 2">2</a></li>
                        <li><a href="#" aria-label="Page 3">3</a></li>
                        <li><a href="#" aria-label="Page 4">4</a></li>
                        <li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                    </ul>

                </article>

            </div>

            <div side-bar></div>
        </div>

        <div footer></div>
    </div>
</div>
