<div class="site">
    <div class="content-wrapper">
        <div class="row">
            <div class="small-12 medium-8 large-9 columns">
                <div class="row">
                    <div class="large-12 columns push-bottom">
                        <a ng-href="{{Disc.currentDiscography.albumCover.full}}" ng-if="Disc.currentDiscography.albumCover.full"><img ng-src="{{Disc.currentDiscography.albumCover.large}}" class="full-width disc-album-cover shadow"/></a>
                        <img src="/images/artists/artwork-missing.jpg" class="full-width disc-album-cover shadow" ng-if="!Disc.currentDiscography.albumCover.full"/>
                        <h1>{{Disc.currentDiscography.albumTitle}}</h1>
                        <h2>by {{Disc.currentDiscography.artist.name}}</h2>
                        <h3>{{Disc.currentDiscography.releaseDate}} | {{Disc.currentDiscography.catalogueNumber}}</h3>
                        <div class="button-link-group">
                            <div class="small-12 large-6 columns button-group" ng-if="Disc.currentDiscography.links.iTunes">
                                <a class="itunes-btn" ng-href="{{Disc.currentDiscography.links.iTunes}}" target="_blank">
                                    <span class="fa fa-apple"></span> iTunes
                                </a>
                            </div>
                            <div class="small-12 large-6 columns button-group" ng-if="Disc.currentDiscography.links.spotify">
                                <a class="spotify-btn" ng-href="{{Disc.currentDiscography.links.spotify}}" target="_blank">
                                    <span class="fa fa-spotify"></span> Spotify
                                </a>
                            </div>
                        </div>
                        <p>{{Disc.currentDiscography.text}}</p>
                        <p ng-repeat="blog in Disc.currentDiscography.links.blog">
                            {{blog.text}} - <a ng-href="{{blog.url}}">{{blog.name}}</a>
                        </p>
                        <p style="visibility:hidden;" ng-if="!Disc.currentDiscography.text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper purus eget felis consequat, molestie gravida tellus sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
            </div>
            <div artist-side-bar></div>
        </div>
        <div footer></div>
    </div>
</div>
