<footer>
    <div class="row expanded callout secondary">
    </div>
    <div class="row expanded">

        <div class="small-12 medium-7 columns">
            <ul class="menu">
                <li><a ui-sref="archive">Archive</a></li>
                <li><a ui-sref="siteMap">Site Map</a></li>
                <li><a ui-sref="about">About/Contact</a></li>
            </ul>
        </div>

        <div class="small-12 medium-5 columns">
            <ul class="menu align-right">
                <li class="menu-text copyright">Copyright © 2010 Tree Machine Records</li>
            </ul>
        </div>
    </div>

</footer>
