<header ng-class="{scrolled: Header.scrolled}">
  <!-- Navigation -->
  <div class="top-bar" id="main-menu">
    <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu"><a ui-sref="artists" ui-sref-active="active">Artists</a>
        <!-- <ul class="submenu menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul> -->
      </li>
      <li class="has-submenu"><a ui-sref="discography" ui-sref-active="active">Discography</a>
        <!-- <ul class="submenu menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul> -->
      </li>
      <li class="has-submenu"><a ui-sref="map" ui-sref-active="active">Map</a>
        <!-- <ul class="submenu menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul> -->
      </li>
      <li class="has-submenu"><a href="https://www.store.treemachinerecords.com/" target="_blank">Record Store</a>
        <!-- <ul class="submenu menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul> -->
      </li>
    </ul>
  </div>
</header>

<div class="row scroll-nav" ng-class="{scrolled: Header.scrolled}">
    <div class="columns bottom" ng-class="{'small-12 medium-12 large-9': !Header.scrolled, 'small-12 medium-12 large-12': Header.scrolled}">
        <div class="small-7 medium-5 large-4 section-1 home-link">
            <div class="mini-logo hover" ui-sref="home" ng-style="{'background':'url(' + Header.logoStyle + ')'}" ng-init="Header.logoStyle='/images/logo-mini-alt.png'">
                <img src="/images/logo-mini.png"/>
            </div>

            <h4 class="hover home-text" ui-sref="home">Tree Machine Records</h4>
        </div>
        <div class="small-5 medium-7 large-8 section-2">
            <div class="bbplayer">
                <span class="bb-rewind"></span>
                <span class="bb-play"></span>
                <span class="bb-forward"></span>
                <span class="bb-trackTime"></span>
                <span class="bb-trackTitle"></span>
                <span class="bb-trackLength"></span>
                <audio>
                    <!--
                 playlist of audio files in MP3 and
                 OGG format for cross browser support
                 -->
                     <source ng-repeat="track in Header.playlist" ng-src="{{track.url}}" />

                </audio>
            </div>
        </div>
    </div>
</div>
