<div ng-if="Side.currentState !== 'landing'" ng-class="{active: Side.toggled}">
    <div class="nav-controls">
        <div class="row">
            <span class="fa fa-search fa-2x" ui-sref="search"></span>
        </div>
        <div class="row">
            <span class="fa fa-headphones fa-2x" ui-sref="music"></span>
        </div>
        <div class="row">
            <span class="fa fa-camera fa-2x" ui-sref="photos"></span>
        </div>
        <div class="row">
            <span class="fa fa-video-camera fa-2x" ui-sref="media"></span>
        </div>
        <div class="row">
            <span class="fa fa-download fa-2x" ui-sref="digitialDownloads"></span>
        </div>
        <div class="row" ng-click="Side.toggleSide()">
            <span class="fa fa-2x" ng-class="{'fa-ellipsis-v': Side.toggled, 'fa-ellipsis-h': !Side.toggled}"></span>
        </div>
    </div>
</div>
