{
	"presets": [{
			"plugins": ["transform-runtime"]
		},
		{
			"passPerPreset": false,
			"presets": ["react", "es2015", "stage-1"]
		}
	],
	"env": {
		"production": {
			"plugins": [
				"transform-react-inline-elements",
				"transform-react-remove-prop-types"
			]
		}
	}
}
