.button {
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid $primary;
	color: $primary;
	transition: border-color 0.5s, color 0.5s;

	&:hover,
	&:active,
	&:focus {
		background: transparent;
		border-color: lighten($primary, 10%);
		color: lighten($primary, 10%);
	}

	&.disabled,
	&:disabled {
		background: transparent;
		border-color: transparentize($primary, 0.1);
		color: transparentize($primary, 0.1);
		cursor: disabled;
	}

	@each $name, $color in $foundation-palette {
		&.#{$name} {
			background: transparent;
			border-color: $color;
			color: $color;

			&:hover,
			&:active,
			&:focus {
				background: transparent;
				border-color: lighten($color, 10%);
				color: lighten($color, 10%);
			}

			&.disabled,
			&:disabled {
				background: transparent;
				border-color: transparentize($color, 0.05);
				color: transparentize($color, 0.05);
				cursor: disabled;
			}
		}
	}
}
