header {
	ul {
		display: inline;
	}

	li {
		display: inline;
		padding: 5px 10px;

		a {
			&:hover {
				text-decoration: underline;
			}

			&.active {
				text-transform: uppercase;
			}
		}
	}
}
